<h1>Posts</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Show Post </th>
    </tr>
  </thead>
  <tbody>
    <%- @post.each do |post| %>
      <tr>
        <td><%=post.title%></td> <td><%=post.user.email%></td> <td><%= link_to "Show", user_post_path(current_user, post.id)  %></td>
      </tr>
    <%-end%>
  </tbody>
</table>